@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-background-primary: #f8f8f8;
  --color-background-secondary: #eaeaea;
  --color-background-gray:#EFEFEF;

  --color-bg-primary: #111111;               
  --color-bg-primary-hover: #252525;         
  --color-bg-primary-active: #3a3a3a;     

  --color-bg-secondary: #d8d8d8;
  --color-bg-secondary-hover: #c8c8c8;
  --color-bg-secondary-active: #b8b8b8;
}